#prices {
    font-family: Arial, Helvetica, sans-seri;
    display: flex;
    flex-wrap: wrap;
}

#prices .price-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

*{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 10px;
}